// APP_MODE could be "Harry Potter" oder "Digit Detection"
APP_MODE=Harry Potter

// APP_TRAIN_ENV could be CLOUDANT or IOT
APP_TRAIN_ENV=CLOUDANT

// used if APP_TRAIN_ENV is CLOUDANT
CLOUDANT_HOST_URL=<url to cloudant endpoint without https://>
CLOUDANT_USER=<cloudant username>
CLOUDANT_PASSWORD=<cloudant password>
CLOUDANT_DB=<cloudant db name to store motions>

// used if APP_TRAIN_ENV is IOT (mosquitto server)
IOT_SERVER=<wss://+url to iot server>
IOT_TOPIC=phone-motion
IOT_USER=<iot username>
IOT_PASSWORD=<iot password>

// APP_SCORING_ENV could be WML or REST
APP_SCORING_ENV=WML

// APP_MODEL_ENV could be CLASSIC or IBM-Q
APP_MODEL_ENV=CLASSIC

// used if APP_SCORING_ENV is WML and APP_MODEL_ENV is CLASSIC or IBM-Q
CLOUD_API_KEY=<cloud api key>
CLOUD_REGION=eu-de
WML_SPACE_ID=<wml space id>

// used if APP_MODEL_ENV is IBM-Q
WML_Q_DEPLOYMENT_ID=<wml deployment id>
WML_Q_DEPLOYMENT_ID_HP=<wml deployment id>

// used if APP_MODEL_ENV is CLASSIC
WML_DEPLOYMENT_ID=<wml deployment id>
WML_DEPLOYMENT_ID_HP=<wml deployment id>

// used if APP_SCORING_ENV is REST
REST_URL=<https://...>

// SEND_ORIENTATION is normally set to false to get accelarator data
SEND_ORIENTATION=false

// Name of the Phone - to collect different user phone data if needed
DEVICE_NAME=iPhone